<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IntegraAfirmaNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <IntegraAfirmaNet.Properties.Settings>
      <setting name="CreateTimeStampBinding" serializeAs="String">
        <value>https://des-tsafirma.redsara.es/tsamap/CreateTimeStampWS</value>
      </setting>
      <setting name="VerifyTimeStampBinding" serializeAs="String">
        <value>https://des-tsafirma.redsara.es/tsamap/VerifyTimeStampWS</value>
      </setting>
      <setting name="RenewTimeStampBinding" serializeAs="String">
        <value>https://des-tsafirma.redsara.es/tsamap/RenewTimeStampWS</value>
      </setting>
      <setting name="DSSAfirmaVerifyBinding" serializeAs="String">
        <value>https://des-afirma.redsara.es/afirmaws/services/DSSAfirmaVerify</value>
      </setting>
      <setting name="DSSAfirmaVerifyCertificateBinding" serializeAs="String">
        <value>https://des-afirma.redsara.es/afirmaws/services/DSSAfirmaVerifyCertificate</value>
      </setting>
      <setting name="SignatureMethod" serializeAs="String">
        <value>http://www.w3.org/2001/04/xmldsig-more#rsa-sha256</value>
      </setting>
      <setting name="CheckResponseSignature" serializeAs="String">
        <value>True</value>
      </setting>
    </IntegraAfirmaNet.Properties.Settings>
  </applicationSettings>
</configuration>